.admin-painel {
    margin-top: 80px;
    padding: 30px 80px;
}

.admin-topo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.admin-painel h1 {
    color: #0a2c66;
    margin-bottom: 30px;
    font-size: 24px;
}

.tabela-admin {
    width: 100%;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
}

.tabela-admin th {
    background-color: #0a2c66;
    color: white;
    padding: 15px;
    text-align: left;
}

.tabela-admin td {
    padding: 15px;
    border-bottom: 1px solid #f0f2f5;
    color: #0a2c66;
}


.btn-criar {
    background-color: #0a2c66;
    cursor: pointer;
    color: white;
    padding: 6px 12px;
    border-radius: 6px;
    text-decoration: none;
    transition: 0.3s;
}

.btn-apagar {
    background-color: red;
    color: white;
    padding: 6px 12px;
    border-radius: 6px;
    text-decoration: none;
    transition: 0.3s;
}

.form-admin {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
}

.campo-admin {
    margin-bottom: 20px;
}

.campo-admin label {
    display: block;
    color: #0a2c66;
    font-weight: bold;
    margin-bottom: 8px;
}

.campo-admin input {
    width: 100%;
    padding: 10px;
    border: 1px solid darkgrey;
    border-radius: 6px;
    font-size: 15px;
}