.admin-topo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.tabela-admin {
    width: 100%;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
}

.tabela-admin th {
    background-color: #0a2c66;
    color: white;
    padding: 15px;
    text-align: left;
}

.tabela-admin td {
    padding: 15px;
    border-bottom: 1px solid #f0f2f5;
    color: #0a2c66;
}